<h1>basic tdolist with angular and typescript</h1>

<div class="form-group">
  <input
    type="text"
    #task
    class="form-control"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
    placeholder="Enter a todo"
  />
  <button type="submit" (click)="addTask(task.value)" class="btn btn-primary">
    Submit
  </button>
</div>

<div class="list">
  <ul *ngFor="let List of list">
    <div class="items">
      <li>{{ List.name }}</li>
      <button (click)="RemoveTask(List.id)">remove</button>
    </div>
  </ul>
</div>
