<h1>basic tdolist with angular and typescript</h1>

<div class="form-group">
  <input
    type="text"
    #task
    class="form-control"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
    placeholder="Enter a todo"
  />
  <button type="submit" (click)="addTask(task.value)" class="btn btn-primary">
    Submit
  </button>
</div>




<table class="table">
  <tbody>
    <tr *ngFor="let todo of list">
      <td>{{ todo.name }}</td>
      <td class="btns">
        <button (click)="RemoveTask(todo.id)" type="button" class="btn btn-danger">Delete</button>
        <button  type="button" class="btn btn-warning">Update</button>

      </td>
    </tr>