/* h1 {
  text-align: center;
  text-transform: capitalize;
}

.form {
  text-align: center;
}

input {
  padding: 12px 80px;
}

button {
  padding: 12px 30px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bolder;
}

button:hover {
  background-color: royalblue;
  color: white;
}

.list {
  margin: 0 auto;
}

li {
  list-style: none;
  padding: 20px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
} */


.form-group {
  width: 50%;
  margin-left: 25%;
  text-align: start;
}

button {
  margin: 0 auto;
  display: block;
  width: 30%;
  margin-bottom: 12px;
}

input {
  margin: 6px;
}

h1{
  text-align: center;
}